<h1>状態詳細画面</h1>

<p>
  <strong>日付</strong>
  <%= @health.record_in_at.strftime("%Y年 %m月 %d日") %>
</p>

<p>
  <strong>責任者</strong>
  <%= @health.responsibility %>
</p>

<p>
  <strong>計測時間</strong>
  <%= @health.time.strftime("%H:%M") %>
</p>

<p>
  <strong>体温</strong>
  <%= @health.body_temperature %>℃
</p>

<p>
  <strong>血圧</strong>
  <%= @health.blood_pressure_up %>/<%= @health.blood_pressure_down %>
</p>

<p>
  <strong>脈拍</strong>
  <%= @health.pulse %>回/分
</p>

<p>
  <strong>食事量</strong>
  朝：<%= @health.breakfast %>
  昼：<%= @health.lunch %>
  おやつ：<%= @health.snack %>
  夕：<%= @health.dinner %>
  眠前：<%= @health.before_sleep %>
</p>

<p>
  <strong>食事量</strong>
  朝：<%= @health.morning_medicine %>
  昼：<%= @health.daytime_medicine %>
  おやつ：<%= @health.snack_medicine %>
  夕：<%= @health.evening_medicine %>
  眠前：<%= @health.sleep_medicine %>
</p>

<p>
  <strong>入浴時間</strong>
  <%= @health.bath_time.strftime("%H:%M") %>
</p>

<p>
  <strong>入浴種類</strong>
  <%= @health.bath_division %>
</p>

<p>
  <strong>介助者</strong>
  <%= @health.caregiver %>
</p>

<p>
  <strong>身長</strong>
  <%= @health.height %>cm
</p>

<p>
  <strong>体重</strong>
  <%= @health.body_weight %>kg
</p>

<p>
  <strong>日中の様子</strong>
  <%= @health.daytime %>
  <strong>スタッフ名</strong><%= @health.daytime_staff %>
</p>

<p>
  <strong>夜間の様子</strong>
  <%= @health.night %>
  <strong>スタッフ名</strong><%= @health.night_staff %>
</p>

<p>
  <strong>連絡事項</strong>
  <%= @health.contact %>
  <strong>スタッフ名</strong><%= @health.contact_staff %>
</p>

<%= link_to "戻る",healths_path(care_user_id: @health.care_user.id) %>
<%= link_to "編集",edit_health_path(@health.id) %>
<%= link_to "削除",health_path(@health.id), method: :delete %>




